{{!-- {{!< layout}}
<div id="root">
<script src="public/frontEnd/addon.jsx"></script>

</div>

 --}}

{{!< layout}}
<div id="root">
  <script src="public/frontEnd/addon.jsx" type="module"></script>
</div>
